*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    width: 1519px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: #fff;
}

/* Header */

header 
{
    padding: 0px;
    width: 1519px;
    height: 600px;
    background: #bc4e9c;
    /* respaldo para navegadores antiguos */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-family: 'open sans';
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-family: 'open sans';
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

nav
{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a
{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover
{
    text-decoration: underline;
}

header .textos-header
{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1
{
    font-size: 50px;
    color:#fff;
}

.textos-header h2
{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave
{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Productos */

.box
{
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    background: #fff;
    transition: 0.5s;
}
.box:hover
{
    height: 400px;
}
.box .imgbx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.box .imgbx img
{
    max-width: 100%;
    opacity: 0.1;
    transition: 0.5s;
}
.box:hover .imgbx img
{
    opacity: 1;
}
.box::before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
.box::after
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px)
}
.box:before,
.box:after
{
    background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);
}
.box:nth-child(2):before,
.box:nth-child(2):after
{
    background: linear-gradient(235deg,#ff005e,#010615,#fbff00);
}
.box:nth-child(3):before,
.box:nth-child(3):after
{
    background: linear-gradient(235deg,#772aff,#010615,#2196f3);
}
.box .content
{
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: rgba(0, 0, 0, 4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s;
}
.box:hover .content
{
    opacity: 1;
}
.box .content h2
{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}
.box .content h2 span
{
    font-size: 14px;
    color: #fff;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 2px;
}
/* Buttom */

button
{
    width: 200px;
    border-color: 1px solid black;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.titulo_md 
{
    color: #642a73;
    font-size: 25px;
    text-align:center;
    margin-bottom: 15px;
}

/* Content img */

.contenedor-img{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #642a73;
}


.content-img h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
}

.content-img p{
    color: #af20d3;
    font-size: 17px;
}

/* footer */

footer
{
    font-family: 'open sans';
    font-size: 15px;
    width: 1519px;
    background: #414141;
    padding: 60px 0 30px 0;
    overflow: hidden;
}

.contenedor-footer
{
    font-family: 'open sans';
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo
{
    text-align: center;
}

.content-foo h4
{
    font-family: 'open sans';
    font-size: 16px;
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p
{
    color: #ccc;
}

.titulo-final
{
    font-family: 'open sans';
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    } 
}
